<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <!-- <nav>
        <div class="site-title">
            <a href="/"><h1>Node js</h1></a>
            <p>Learn about EJS</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </nav> -->
    <%- include('./partials/nav.ejs')  %>
    
    <div class="about content">
        <h2>About us</h2>
        <p>Security professionals, before reporting 
            any security issues, please reference the 
            SECURITY.md in this project, in particular, 
            the following: "EJS is effectively a JavaScript 
            runtime. Its entire job is to execute JavaScript. 
            If you run the EJS render method without checking 
            the inputs yourself, you are responsible for the 
            results.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
    
</body>
</html>